@import url(http://fonts.googleapis.com/css?family=Sigmar+One|Righteous|Roboto+Condensed);

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  background: #007696;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  background: white;
  border-radius: 3px;
  max-width: 800px;
  padding: 2em;
  margin: 3em auto;
}

.shadow {
   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 3em;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.yellow {
  color: #FFDC6C;
}
.blue-outline {
  text-shadow:
    -1px -1px 0 #007696,
    2px -1px 0 #007696,
    -1px 1px 0 #007696,
    1px 1px 0 #007696;
}

.trainer {
  font-family: 'Sigmar One', cursive;
}
.important {
  font-size: 4em;
}

/* FORMS */
form {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 1em;
}

label {
  display: none;
}

input[type="text"], input[type="password"] {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.3em 1em;
}

/*body {
  font: font-style font-variant font-weight font-size/line-height font-family;
}*/
input[type="submit"], .button {
  background-color: #F69730;
  border: 0;
  color: white;
  font: normal normal normal 1.5em/1.5em 'Righteous';
  letter-spacing: 2px;
  padding: 0.3em 2em;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

input[type="submit"]:hover, .button:hover {
  background-color: #B23037;
}

.position-oak {
  position: absolute;
  right: 0;
  bottom: 0;
}


/*Speech bubble*/
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}
.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  display: block;
  width: 0;
}
.speech-bubble {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.speech-bubble.right:after {
  top: 16px;
  bottom: auto;
  left: auto;
  right: -21px;
  border-width: 9px 0 9px 21px;
  border-color: transparent #fff;
}
.speech-bubble.right:before {
  top: 10px;
  bottom: auto;
  left: auto;
  right: -30px;
  border-width: 15px 0 15px 30px;
  border-color: transparent #5a8f00;
}

.triangle-border.right {
  margin-right: 30px;
}