<fieldset>
  <label for="name">Name</label>
  <input type="text" name="user[name]" id="name" placeholder="What's your name?"/>
</fieldset>
<fieldset>
  <label for="email">email</label>
  <input type="text" name="user[email]" id="email" placeholder="email"/>
</fieldset>
 <fieldset>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" placeholder="password"/>
</fieldset>
<input type="submit" value="Create!" class="shadow"/>